<table>
  <tr>
    <td class="report-footer-left"><%="Run at #{Time.now.strftime("%a, %d %b %Y %l:%M %p")} by #{current_user.full_name}"%></td>
    <td class="report-footer-right"><%='[page] of [topage]'%> </td>
  </tr>
</table>


